<h2>{{"todoList.title" | translate}}</h2>

<div>
    <span>{{todoList.remaining()}} {{"todoList.remaining1" | translate}} {{todoList.todos.length}} {{"todoList.remaining2" | translate}}</span>
    [ <a href="" ng-click="todoList.archive()">{{"todoList.archive" | translate}}</a> ]
    <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
            <label class="checkbox">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </label>
        </li>
    </ul>
    <form class="form-inline" ng-submit="todoList.addTodo()">
        <input class="form-control" type="text" ng-model="todoList.todoText" size="30"
               placeholder='{{"todoList.inputPlaceholder" | translate}}'>
        <input class="btn btn-primary" type="submit" value='{{"todoList.buttonAdd" | translate}}'>
    </form>
</div>