<h1 class="page-header">{{header.title}}</h1>

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="index.home">Test app</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li ng-class="{active: header.isActive('/')}"><a ui-sref="index.home">Home</a></li>
            <li ng-class="{active: header.isActive('/todo')}"><a ui-sref="index.todo">Todo List</a></li>
        </ul>
    </div>
</nav>